# Prevent Apache from serving .htaccess files
<FilesMatch "^\.htaccess">
    Order allow,deny
    Deny from all
</FilesMatch>

# Enable RewriteEngine
RewriteEngine On

# Rewrite any www URL to non-www with HTTPS
RewriteCond %{HTTP_HOST} ^(www\.)(.*) [NC]
RewriteRule (.*) https://%2%{REQUEST_URI} [L,R=301]

# Rewrite any non-HTTPS URL to HTTPS
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Enable HSTS
Header set Strict-Transport-Security "max-age=31536000" env=HTTPS

# Set MIME type of WebAssembly
AddType application/wasm .wasm

# Make sure that gzip is enabled
AddOutputFilterByType DEFLATE application/wasm
